[submodule "static/favicon"]
	path = static/favicon
	url = https://github.com/attajak/favicon.git
[submodule "themes/beautifulhugo"]
	path = themes/beautifulhugo
	url = https://github.com/halogenica/beautifulhugo
