run = "hugo server --baseURL='/' --bind='​0.0.0.0'​"
entrypoint = "README.md"

[nix]
channel = "stable-23_11"

[deployment]
build = ["hugo"]
deploymentTarget = "static"
publicDir = "public"

[[ports]]
localPort = 1313
externalPort = 80
